<div class="small-3 columns">

<form class="custom">
  <select id="customDropdown" class='small'>
    <option DISABLED>This is a dropdown</option>
    <option>This is another option</option>
    <option>This is another option too</option>
    <option>Look, a third option</option>
  </select>
</form>

</div>
