// Place all the styles related to the wtbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.borderless_table{
  text-align: left;
  border: none;
}
strong.result-wtb{
  color: blue;
}
textarea{
  min-height: 75px;
}
dt.poster-info{
  font-size: 14px;
}
h2.title{
  color: #333;
  padding-left: 30px;
  margin-top: 1px;
}
h3.title{
  color: #1111FF;
  margin-bottom: 1px;
}
